@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Karla, sans-serif;
}

html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body {
    margin: auto;
    height: 550px;
    width: 550px;
    border-radius: 9px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.nav--header {
    height: 65px;
    display: flex;
    background: linear-gradient(to right, #672280, #A626D3);
}

.nav--contents {
    height: 26px;
    width: 185px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav--contents-img {
    height: 100%;
    width: auto;
    padding-right: 10px;
}

.nav--contents > h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.nav--projectname {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

.top-part {
    padding-left: 36px;
    justify-content: flex-start;
}

.bottom-part {
    padding-right: 36px;
    justify-content: flex-end;
}

.meme-button {
    font-family: Karla, sans-serif;
    background: linear-gradient(to right, #711F8D, #A818DA);
    color: #FFFFFF;
    border-radius: 5px;
    width: 477px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.meme-image {
    display: flex;
    height: 268px;
    width: 477px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2px;
}